*{
  box-sizing:border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

#center{
    max-width: 50rem;
    margin:0 auto;
    padding-left:1rem;
    padding-right:1rem; 
}

a.links{
    font-style:inline;
    font-weight:bold;
    color:#222222;
    transition:0.5s;
}

a.links:hover{
    color:#232223;
}


div.navbar{
    text-align: center;
}

div.navbar li{
  list-style-type: none;
  display: inline; 
  color:#222222;
  font-size: 15pt;
}

div.navbar a{
    color:#222222;
    font-style: none;
    transition: 0.5s;
}

div.navbar a:hover{
    color:#ffffff;
}


p{
    line-height: 1.6;
}

div.about{
    text-align:justify;
    display:flex;  
}

div.about img{
    width:10rem;
    height:10rem;
    border-radius:50%;
    margin-right:1rem;
}

div.projects{
    display:block;
    margin:0 auto;
    text-align:center;
}
.
.projects h2{
    text-align: center;
}

.articles{
  display:flex;
  flex-direction:row;
  box-shadow:0 0 0.2rem gray;
  width:100%;
  text-align:center;
}

.text{
	height: 8rem;
	display: flex;      
	border-radius: 1%;
	
	    
}

#photo{
  float:left;
  height:10rem;
  width:10rem;
  margin-right:1rem;
}
div.articles h1{
  text-align: center;
  vertically-align:center;
  color:#ffffff;
  font-weight:bold;
  margin-left:2rem;
  font-size:26pt;
  color:#4a4a4a;  
}

.image{
  display:flex;
  
  width:8rem;  
  height:8rem;  
}
#bottom{
    margin-top:2rem;
    text-align:center;
}

div.template h1{
  text-align:center;  
}

div.template p{
  text-align:justify;
}

div.template h2{
  font-weight:normal;
  text-decoration:underline;
}


@media (prefers-color-scheme: dark) {
    body{
        background:#222222;
        color:#E7E5DF;
    }
    a.links{
        color:#E7E5DF;
        font-style:inline;
        font-weight:bold;
        transition: 0.5s;
    }
    a.links:hover{
        color:#fffff;   
    }

    div.navbar a{
        color:#E7E5DF;
        transition: 0.5s;
        font-weight: bold;
        font-style: none;
    }
    
    div.navbar a:hover{
        color:#b6b5b2;
    }

    div.navbar li{
        list-style-type: none;
        display: inline;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
        color:#E7E5DF;
        font-size: 15pt;
    }
    
}

@media screen and (max-width: 55rem){
    div.about{
      display:block;
    }
    div.about img{
      display:block;  
      margin:0 auto;
    }
    div.projects{
      display:block;
      margin:0 auto;
    }
    #photo{
      float:none;
      display:block;
      margin:0 auto;
    }
    div.articles h1{
      font-size:18pt;
    }
    div.articles p{
      font-size:14pt;
      margin-left:1rem;
    }
    div.template p{
      text-align:center;
    }
    div.template h1, h2, h3, h4, h5, h6{
      text-align:center;
    }
}

